<odoo>
    <!-- Top-level menu for Modul Cristi -->
    <menuitem id="menu_modul_cristi_root"
              name="Modul Cristian"/>

    <!-- Child menu that opens the list view (action defined in modul_cristi_views.xml) -->
    <menuitem id="menu_modul_cristi"
              name="Înregistrări"
              parent="menu_modul_cristi_root"
              action="ModulCristi.action_modul_cristi"/>
</odoo>
